{% extends "mknp/base.html" %}

{% block title %}关于我们{% endblock %}
{% block head %}
<link href="{{ STATIC_URL }}css/style1.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block body %}
<!-- start slider -->
<!-- start slider -->
<div class="slider_bg" style="background: url(../../../media/{{ pageInfo.bg }}); background-size:100%;">
<div class="wrap">
	<div class="slider">
		<h2>{{ pageInfo.title }}</h2>
		<h3>{{ pageInfo.label }}</h3>
	</div>
</div>
</div>
<!-- start main -->
<div class="main_bg">
<div class="wrap">
	<div class="main">
		<div class="content">
		<!-- start details -->
			<div class="details">
			<h2>{{ companyinfo.title }}</h2>
			<div class="det_pic">
				  <img src="{{ MEDIA_URL }}{{ companyinfo.image }}" alt="" />
			</div>
			<div class="det_text">
				<p class="para">{{ companyinfo.desc1 }}</p>
				<p class="para">{{ companyinfo.desc2 }}</p>
				<p class="para">{{ companyinfo.desc3 }}</p>
				<p class="para">{{ companyinfo.desc4 }}</p>
				<p class="para">{{ companyinfo.desc5 }}</p>
			</div>
			<div class="clear"></div>
		</div>
		<!-- end details -->
	 </div>
	</div>
</div>
</div>

{% endblock %}