{% extends "mknp/common.html" %}

{% block title %}日本名校{% endblock %}
{% block head %}
<!--Google Fonts link-->
<link rel="stylesheet" href='{{ STATIC_URL }}css/iconfont.css'>
<link rel="stylesheet" href='{{ STATIC_URL }}css/slick/slick.css'>
<link rel="stylesheet" href='{{ STATIC_URL }}css/slick/slick-theme.css'>
<link rel="stylesheet" href='{{ STATIC_URL }}css/font-awesome.min.css' >
<link rel="stylesheet" href='{{ STATIC_URL }}css/jquery.fancybox.css'>
<link rel="stylesheet" href='{{ STATIC_URL }}css/bootstrap.min.css'>
<link rel="stylesheet" href='{{ STATIC_URL }}css/magnific-popup.css'>
<!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


<!--For Plugins external css-->
<link rel="stylesheet" href='{{ STATIC_URL }}css/plugins.css'>

<!--Theme Responsive css-->
<link rel="stylesheet" href='{{ STATIC_URL }}css/responsive.css' >
<link rel="stylesheet" href='{{ STATIC_URL }}css/gonex-icons.css' >

<!--Theme custom css -->
<link rel="stylesheet" href='{{ STATIC_URL }}css/style.css' >
<link rel="stylesheet" href='{{ STATIC_URL }}css/team.css' >
<link rel="stylesheet" href='{{ STATIC_URL }}css/services.css' >
<link rel="stylesheet" href='{{ STATIC_URL }}css/project.css' >
<link rel="stylesheet" href='{{ STATIC_URL }}css/BreakingNews.css' >

<script src='{{ STATIC_URL }}js/vendor/modernizr-2.8.3-respond-1.4.2.min.js'></script>
<script src='{{ STATIC_URL }}js/jQuery.js'></script>
<script src='{{ STATIC_URL }}js/BreakingNews.js'></script>
{% endblock %}

{% block body %}
    <header id="main_menu" class="header navbar-fixed-top">            
        <div class="main_menu_bg">
            <div class="container">
                <div class="row">
                    <div class="nave_menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#home">
                                        <img height="50" width="100" src='{{ STATIC_URL }}images/logo.png'/>
                                    </a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->



                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="#home">{{ Pages1Info.tag }}</a></li>
                                        <li><a href="#portfolio">{{ Pages2Info.tag }}</a></li>
                                        <li><a href="#team">{{ Pages3Info.tag }}</a></li>
                                        <li><a href="#clogo">{{ Pages4Info.tag }}</a></li>
                                        <li><a href="#blog">{{ Pages5Info.tag }}</a></li>
                                        <li><a href="#service">{{ Pages6Info.tag }}</a></li>
                                    </ul>


                                </div>

                            </div>
                        </nav>
                    </div>  
                </div>

            </div>

        </div>
    </header> <!--End of header -->
    <div class='preloader'><div class='loaded'>&nbsp;</div></div>
    <div class="culmn">
        <!--home Section -->
        <section id="home">
			<h1 class="sr-only">Home</h1>
            <div id="carousel-hero" class="carousel slide" data-ride="carousel">

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">

                    {% for page1 in Pages1Infos %}
                    {% if page1 == Pages1Info %}
                    <div class="item active" style="background: url(../../media/{{ page1.image }}) center center no-repeat;">
                    {% else %}
                    <div class="item" style="background: url(../../media/{{ page1.image }}) center center no-repeat;">
                    {% endif %}
                        <div class="overlay"></div>

                        <div class="carousel-caption">

                            <span class="h1 title-Strong">{{ page1.title }}</span>
                            <p>{{ page1.label }}</p>

                        </div>

                    </div> <!-- /.item -->
                    {% endfor %}
				</div> <!-- /.carousel-inner -->

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-hero" role="button" data-slide="prev">
					<span class="ico ico-arrow_left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-hero" role="button" data-slide="next">
					<span class="ico ico-arrow_right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>

			</div> <!-- /.carousel -->
        </section><!--End of home section -->


        <!--feature section -->
        <section id="feature" class="feature sections">
            <div class="container">
                <div class="row">
                    <div class="main_feature text-center">
                        {% for homePage in homePages %}
                        <div class="col-sm-3">
                            <div class="single_feature">
                                <div class="single_feature_icon">
                                    <i class="fa {{ homePage.icon }}"></i>
                                </div>

                                <h4>{{ homePage.title }}</h4>
                                <div class="separator3"></div>
                                <p>{{ homePage.desc }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div><!--End of container -->
        </section><!--End of feature Section -->
        <hr />

    	<section id="portfolio" class="portfolio sections">
            <div class="container-fluid">
                <div class="row">
                    <div class="main_portfolio">
                        <div class="col-sm-12">
                            <div class="head_title text-center">
                                <h2>{{ Pages2Info.title }}</h2>
                                <div class="subtitle">
                                    {{ Pages2Info.label }}
                                </div>
                                <div class="separator"></div>
                            </div>
                        </div>
                        <div class="work_menu text-center">
                            <div id="filters" class="toolbar mb2 mt2">
                                <button class="btn-md fil-cat filter active" data-filter="all">所有</button>
                                {% for key,value in activityPageTypes.items %}
                                /<button class="btn-md fil-cat filter" data-rel="{{ key }}" data-filter=".{{ key }}">{{ value }}</button>
                                {% endfor %}
                            </div> 

                        </div>

                        <div style="clear:both;"></div>     
                        <div id="portfoliowork">
                            {% for activityPage in activityPages %}
                            <div class="single_portfolio tile scale-anm {{ activityPage.label }}">
                                <img src="{{ MEDIA_URL }}{{ activityPage.image }}" alt="" />
                                <a href="{{ MEDIA_URL }}{{ activityPage.image }}" class="portfolio-img">
                                    <div class="grid_item_overlay">
                                        <div class="separator4"></div>
                                        <h3>{{ activityPage.title }}</h3>
                                        <p>{{ activityPage.desc }}</p>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>

                        <div style="clear:both;"></div>  
                    </div>
                </div>
            </div><!-- End off container --> 
        </section> <!-- End off Work Section -->
		
    	 <!-- Team Section -->
        <section id="team" style="background-image: url(../../media/{{ Pages3Info.image }});">
                <div class="container">
                    <div class="row">
                        <div class="team_photo sections text-center">
                            <div class="head_title text-center">
                                <h2>{{ Pages3Info.title }}</h2>
                                <div class="subtitle">
                                    {{ Pages3Info.label }}
                                </div>
                                <div class="separator"></div>
                            </div><!-- End off Head_title -->
                            <!-- <div class="main_team">
                                <ul>
                                    {% for teamPage in teamPages %}
                                    <li>
                                        <div class="single_team_img">
                                            <img src='{{ MEDIA_URL }}{{ teamPage.photo }}' alt="" />
                                        </div>
                                        <div class="single_team_text">
                                            <h4>{{ teamPage.name }}</h4>
                                            <p>{{ teamPage.label1 }}<br>
                                            {{ teamPage.label2 }}<br>
                                            {{ teamPage.label3 }}<br>
                                            {{ teamPage.label4 }}</p>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div> -->

                            <div class="bodyCon08" ><!--学员-->
                                <div class="students">
                                      <div id="four_flash">
                                        <div class="flashBg">
                                            <ul class="mobile">
                                                {% for teamPage in teamPages %}
                                                <li>
                                                    <a href=""><img src="{{ MEDIA_URL }}{{ teamPage.photo }}" /></a>
                                                    <dd>{{ teamPage.name }}</dd>
                                                    <p>{{ teamPage.label1 }}</p>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="but_left"><img src="{{ MEDIA_URL }}images/qianxleft.png" /></div>
                                        <div class="but_right"><img src="{{ MEDIA_URL }}images/qianxr.png" /></div>
                                      </div>
                                </div>
                            </div>
                    </div>
                </div><!-- End of container -->
        </section><!-- End off Team Section -->
    	
    	  <!-- Client Logo Section -->
        <section id="clogo" class="clogo" style="background-image: url(../../media/{{ Pages4Info.image }});">
            <div class="container">
                <div class="row">
                    <div class="main_clogo sections text-center">
                        <div class="head_title text-center">
                            <h2>{{ Pages4Info.title }}</h2>
                            <div class="subtitle">
                                {{ Pages4Info.label }}
                            </div>
                            <div class="separator"></div>
                        </div><!-- End off Head_title -->

                        {% for casePage in casePages %}
                        <div class="col-sm-3 col-xs-6"> 
                            <a href=""><img height="100" width="200" src='{{ MEDIA_URL }}{{ casePage.image }}' alt="" /></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        </section><!-- End off clogo Section -->


        <!-- Blog Section -->
        <section id="fh5co-work" data-section="work" style="background-image: url(../../media/{{ Pages5Info.image }});">
            <div class="container">
                <div class="row">
                    <div class="main_work sections text-center">
                        <div class="head_title text-center">
                            <h2>{{ Pages5Info.title }}</h2>
                            <div class="subtitle">
                                {{ Pages5Info.label }}
                            </div>
                            <div class="separator"></div>
                        </div><!-- End off Head_title -->
                        
                        <div class="row row-bottom-padded-sm">
                            {% for projectPage in projectPages %}
                            <div class="col-md-4 col-sm-6 col-xxs-12">
                                <a href="{{ MEDIA_URL }}{{ projectPage.image }}" class="fh5co-project-item image-popup to-animate">
                                    <img src="{{ MEDIA_URL }}{{ projectPage.image }}" alt="Image" class="img-responsive">
                                    <div class="fh5co-text">
                                    <h2>{{ projectPage.title }}</h2>
                                    <span>{{ projectPage.desc }}</span>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr />

        <section id="news">
            <div class="container">
                <div class="row">
                    <div class="sections text-center">
                        <div class="BreakingNewsController easing" id="breakingnews1">
                            <div class="bn-title"></div>
                            <ul style="text-align: left;">
                                <li><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry bu deneme text metinidir</a></li>
                                <li><a href="#">It is a long established fact that a reader will be distracted</a></li>
                                <li><a href="#">Many desktop publishing packages</a></li>
                                <li><a href="#">All the Lorem Ipsum generators on the Internet tend to repeat predefined</a></li>
                                <li><a href="#">The standard chunk of Lorem Ipsum used</a></li>
                                <li><a href="#">English versions from the 1914 translation by H. Rackham.</a></li>
                            </ul>
                            <div class="bn-arrows"><a href=""><span class="bn-arrows-right"></span></a></div>  
                        </div>
                    </div>
                </div>
        </section>
        <br>
        <br>
        <br>

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>
        
        <script src='{{ STATIC_URL }}js/vendor/bootstrap.min.js'></script>

        <script src='{{ STATIC_URL }}js/jquery.magnific-popup.js'></script>
        <script src='{{ STATIC_URL }}js/jquery.mixitup.min.js'></script>
        <script src='{{ STATIC_URL }}js/jquery.easing.1.3.js'></script>
        <script src='{{ STATIC_URL }}js/jquery.masonry.min.js'></script>

        <!--slick slide js -->
        <script src='{{ STATIC_URL }}css/slick/slick.js'></script>
        <script src='{{ STATIC_URL }}css/slick/slick.min.js'></script>


        <script src='{{ STATIC_URL }}js/plugins.js'></script>
        <script src='{{ STATIC_URL }}js/main.js'></script>
        <script type="text/javascript">
        //学员
        var _index5=0;
        $("#four_flash .but_right img").click(function(){
            _index5++;
            var len=$(".flashBg ul.mobile li").length;
            if(_index5+5>len){
                $("#four_flash .flashBg ul.mobile").stop().append($("ul.mobile").html());
            }
            $("#four_flash .flashBg ul.mobile").stop().animate({left:-_index5*326},1000);
            });

            
        $("#four_flash .but_left img").click(function(){
            if(_index5==0){
                $("ul.mobile").prepend($("ul.mobile").html());
                $("ul.mobile").css("left","-1380px");
                _index5=6
            }
            _index5--;
            $("#four_flash .flashBg ul.mobile").stop().animate({left:-_index5*326},1000);
            });
        </script> 

        <script>
            $(document).ready(function(){
                $("#breakingnews1").BreakingNews({
                    background      :'#FFF',
                    title           :'热点新闻',
                    titlecolor      :'#FFF',
                    titlebgcolor    :'#099',
                    linkcolor       :'#333',
                    linkhovercolor  :'#099',
                    fonttextsize    :16,
                    isbold          :false,
                    border          :'solid 1px #099',
                    width           :'100%',
                    timer           :2000,
                    autoplay        :true,
                    effect          :'slide'
                        
                });
            }); 
        </script>

{% endblock %}