{% extends "mknp/common.html" %}
{% block link %}
<link rel="stylesheet" href='{{ STATIC_URL }}css/header.css'>
{% endblock %}
{% block header %}
<header id="header">
        <!-- Section title -->
        <h1 class="sr-only">Gonex | Home page</h1>
        
        <nav id="main-navigation" class="navbar navbar-default navbar-fixed-top">
          <!-- Section title -->
          <h1 class="sr-only">Main navigation</h1>

          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a id="brand-mobile" class="navbar-brand navbar-brand-center smoothScroll" href="#home">
                <img alt="Gonex" src="{{ STATIC_URL }}images/logo.png">
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="smoothScroll" href="#home">首页</span></a></li>
                    <li><a class="smoothScroll" href="#services">关于我们</a></li>
                    <li><a class="smoothScroll" href="#work">赴日留学</a></li>
                    <li><a class="smoothScroll" href="#about">精品课程</a></li>
                    <li><a class="smoothScroll" href="#skills">修士进学</a></li>
                    <li><a class="smoothScroll" href="#contact">合作项目</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->

          </div><!-- /.container -->

        </nav>

</header>
{% endblock %}
